[Desktop Entry]
Version=1.0
Type=Application
Name=Desktop-D30
Comment=Custom Label Printer Suite
Exec=Desktop-D30
Icon=Desktop-D30
Terminal=false
Categories=Utility;Printing;